@import "tailwindcss";
@plugin "./../../hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --urbanist: var(--font-urbanist);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: urbanist;
}